* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  overflow-x: hidden;
}

:root {
  --yellow-theme: #f6b900;
  --menu-color: #493803;
  --primary-color: #e5e5e5;
  --second-color: #3a3e54;
  --bg: #000000;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Italic.ttf") format("truetype");
}
